web: node --optimize_for_size --max_old_space_size=460 ./src/App.js
web: node --optimize_for_size --max_old_space_size=460 ./server/server.js
web: node --optimize_for_size --max_old_space_size=460 ./src/index.js
web: node --max-old-space-size = 460