/* MakeTicket Form related styling */
code {
  background: #eee;
  padding: 0.1rem;
  font-family: "Menlo";
  font-size: 13px;
  color: #ff00aa;
}

/* form */
form#make-ticket-form {
  margin-top: 2rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

label {
  display: block;
  padding: 0.8rem;
  margin: 0.5rem;
  color: white;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.radio-item > label {
  color: black;
}

.make-ticket-form,
.update-ticket-form > input,
textarea#description {
  padding: 12px;
  margin-bottom: 1rem;
  font-size: 16px;
  max-width: 100%;
  width: 500px;
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  font-weight: 400;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
}

#category-select,
input[type="text"] {
  width: 500px;
  max-width: 100%;
}

input[type="text"] {
  padding: 12px;
  height: 3em;
  border-radius: 4px;
}

.radio-group {
  display: flex;
  display: inline-block;
  border-radius: 4px;
  max-width: 100%;
  width: 500px;
}

.radio-group#admin-radio {
  display: inline-block;
  width: 900px;
}

.radio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="radio"] {
  display: table-cell;
  vertical-align: middle;
  width: 50px;
  margin: 0.6rem;
}

textarea#description,
textarea#comments {
  height: 4em;
  transition: all 0.5s ease;
  text-align: left;
  overflow: auto;
  font-family: "Roboto";
}

textarea#description:focus {
  height: 6em;
}

input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: red;
  margin-top: 0.25rem;
}

button.form-button {
  max-width: 50%;
  margin: 20px 0;
  padding: 12px 20px;
  border-style: none;
  border-radius: 5px;
  background-color: #f6c645;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

button:hover {
  background-color: rgb(209, 169, 57);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: 0.5rem;
}

button#outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}

.thumbnails {
  text-align: center;
}
